/* #container main .image-container .image-workspace,
#container main .image-container .image-workspace canvas {
  width: 100%;
  height: 100%;
} */

#container main .image-container .image-workspace {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container main .image-container .canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container main .image-container .crop-box {
  position: absolute;
}
